@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Roboto";
    color: black;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

li {
    list-style: none;
}

ul {
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 600;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;

}

.menu-small-screen li a:hover {
    width: 100%;
    height: 2px;
    color: white;
    text-decoration: underline;
}

.menu-small-screen li {
    display: none;
}

li:hover .menu-small-screen li {
    display: block;
}

.navbar-large-screen li a:hover {
    width: 100%;
    height: 2px;
    color: white;
}

.navbar-large-screen {
    display: flex;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #e46161;
}

.menu-icon {
    height: 24px;
    float: right;
    margin-right: 11px;
}


.firstPage-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-image: linear-gradient(to right, #fff3b0, #ee6ad8);
}

.home-details-container {
    margin: 32px;
    padding: 44px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.heading-first-page {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 44px;
    letter-spacing: 5px;
}

.description-first-page {
    font-family: sans-serif;
    font-size: 19px;
    margin-top: 38px;
}

.clickMe-Btn {
    width: 150px;
    height: 38px;
    background-color: #e46161;
    align-items: center;
    border-style: none;
    color: bisque;
    box-shadow: 4px 4px 4px gray;

}

.home-img-largeScreen {
    width: 50%;
}

.secondPage-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    padding-top: 82px;
    padding-bottom: 82px;
    background-image: linear-gradient(to right, #fff3b0, #ee6ad8);
}

.secondPage-imageContainer {
    display: flex;
    flex-direction: row;
    margin: 40px 24px 24px 24px;
}

.image-container {
    display: flex;
    flex-direction: row;
}

.firstCol-image-container {
    display: flex;
    flex-direction: column;
}

.image {
    width: 250px;
    margin: 20px;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #e46161;
    padding: 10px;
    height: 250px;
    width: 500px;
    box-shadow: 6px 6px 6px gray;
}

.card-subHeading {
    font-family: sans-serif;
    margin-left: 25px;
}

.card-heading {
    font-family: sans-serif;
    font-size: 44px;
    letter-spacing: 5px;
    margin-top: 14px;
    margin-left: 24px;
    margin-bottom: 14px;
}

.click-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 5px;
}

.click-heading {
    font-family: sans-serif;
    margin-left: 25px;
}

.arrow-icon {
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

@media (max-width: 750px) {

    .navbar-small-screen {
        display: flex;
        flex-direction: column;
        background-color: #e46161;
    }

    .navbar-large-screen {
        display: none;
    }

    .menu-small-screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 16px;
    }

    li {
        margin: 16px;
    }

    .home-img-smallScreen {
        width: 100%;
        height: 400px;
        background-size: cover;
    }

    .home-img-largeScreen {
        display: none;
    }

    .firstPage-container {
        flex-direction: column;
    }

    .home-details-container {
        width: 100%;
        align-items: center;
        padding: 11px;
        margin: 11px;
    }

    .heading-first-page {
        font-size: 18px;
    }

    .description-first-page {
        font-size: 10px;
        margin-top: 8px;
        margin-bottom: 8px;
        text-align: center;
    }

    .clickMe-Btn {
        width: 100px;
        height: 21px;
        font-size: 12px;
    }

    .secondPage-container {
        padding-top: 0px;
    }

    .image {
        margin: 1px;
        width: 150px;
    }

    .card-container {
        width: 350px;
        height: 180px;
        margin: 10px;
    }

    .card-heading {
        font-size: 29px;
    }

    .card-subHeading {
        font-size: 16px;
    }

    .click-heading {
        font-size: 16px;
    }

}

@media (max-width: 952px) {
    .heading-first-page {
        font-size: 19px;
    }

    .description-first-page {
        font-size: 16px;
        margin-top: 8px;
    }

    .home-img-largeScreen {
        height: 482px;
    }

    .image {
        margin: 20px;
        width: 200px;
    }

    .card-container {
        width: 450px;
    }
}


@media (min-width: 750px) {
    .home-img-smallScreen {
        display: none;
    }

    .navbar-small-screen {
        display: none;
    }

    .clickMe-Btn {
        margin-top: 26px;
    }

}